<!DOCTYPE html>
<html>
{{- partial "head.html" . -}}

<body>
    {{- partial "header.html" . -}}
    <div id="content" class="container">
        {{- block "main" . }}{{- end }}
    </div>
    {{- partial "footer.html" . -}}
</body>
{{ $jq := resources.Get "jquery-3.3.1.slim.min.js" | resources.Fingerprint }}
<script src="{{ $jq.Permalink}}"></script>
{{ $bsjs := resources.Get "bootstrap-4.3.1/js/dist/dropdown.js" | resources.Minify | resources.Fingerprint }}
<script src="{{ $bsjs.Permalink}}"></script>

</html>